<div class="container">
  <label>Categories</label>
  <!-- Category Select -->
  <select #categorySelect (change)="onCategoryChanged(categorySelect.value)">
    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
  </select>
  <!-- Checkout -->
  <button class="checkout-btn" (click)="checkoutCart()">Checkout Cart</button>
  <!-- Products view -->
  <div class="products-container">
    <app-product *ngFor="let product of products | categoryfilter: selectedCategory" [product]="product"
      (addToCart)="addToCart($event)"></app-product>
  </div>
  <div class="checkout-popup" *ngIf="openCheckoutPopup">
    <div class="checkout-content">
      <div>
        <h4>Checkout</h4>
      </div>
      <div class="checkout-popup-btns-parent">
        <button (click)="checkoutProducts()">Checkout</button>
        <button (click)="closeCheckoutPopup()">Cancel</button>
      </div>
    </div>
  </div>
</div>